body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  background-color: #000;
  color: #fff;
  margin: 0;
}

#wrapper {
    position: relative;
}

#header {
    margin: 3rem 0;
}

#header h1, #header h2 {
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

#header h1 {
    margin: 1rem 0 0.25rem;
    font-size: 1.75rem;
}

#header h2 {
    font-size: 0.75rem;
    letter-spacing: 0.33rem;
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gallery .item {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    cursor: pointer;
}

.gallery .item img {
    width: 100%;
    /* transition: opacity 0.3s; not smooth on Chrome - I don't know why */
}

.gallery .item:hover img {
    opacity: 0.75;
}

.gallery .item .label {
    text-transform: uppercase;
    color: #aaa;
    text-align: center;
    max-width: 75%;
    padding-top: 1rem;
    font-weight: bold;
    line-height: 1.05rem;
    text-shadow: #fff 0 0 6rem;
}

.gallery .item:hover .label {
    color: #eee;
    text-shadow: #fff 0 0 1.5rem;
}

#chart {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
    background-color: #000;
}

#chart .close-button {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    transition: opacity 0.3s;
}

#chart .close-button path {
    stroke-width: 3;
    stroke: #ccc;
}

#chart .close-button:hover {
    opacity: 0.5;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#vector-canvas, #vector-no-transform-canvas {
    display: none;
}

#info-panel {
    position: fixed;
    left: 1rem;
    top: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    max-width: calc(100vw - 2rem);
    background-color: rgba(0, 0, 0, 0.75);
    color: #ccc;
    pointer-events: none;
    transition: opacity 0.3s;
}

#info-panel .title {
    color: #ccc;
    font-weight: bold;
    text-shadow: #eee 0 0 1rem;
}

#info-panel .items {
    margin-top: 1rem;
}

#info-panel .item {
    margin-bottom: 0.75rem;
    line-height: 1.25rem;
}

#info-panel .item .key {
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: bold;
    color: #999;
}

#help-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    transition: opacity 0.3s;
}

#help-button svg {
    fill: #eee;
}

#help-button:hover {
    opacity: 0.5;
}

#help-panel {
    display: none;
    background-color: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
}

#help-panel.active {
    display: block;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .gallery .item {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 60em) {
    .gallery .item {
        flex-basis: 25%;
    }
}
