body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  background-color: #000;
  color: #fff;
  margin: 0;
}

#wrapper {
    position: relative;
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    width: 100%;
}

.gallery img:hover {
    opacity: 0.75;
}

#chart {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
    background-color: #000;
}

#chart .close-button {
    position: fixed;
    top: 1rem;
    right: 2rem;
    text-align: right;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#vector-canvas, #vector-no-transform-canvas {
    display: none;
}

#info-panel {
    position: fixed;
    left: 1rem;
    top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    min-width: 25rem;
    background-color: rgba(10, 10, 10, 0.8);
    color: #ccc;
}

#info-panel td:first-child {
    font-size: 0.75rem;
    font-weight: bold;
    text-align: right;
    min-width: 5rem;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .gallery img {
        width: 50%;
    }
}

@media screen and (min-width: 60em) {
    .gallery img {
        width: 25%;
    }
}
